.post-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #007bff;
}

.user-name {
  font-weight: bold;
}
.img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
